/* element styling */
label {
  text-decoration: underline;
  max-width: 150px;
  min-width: 100vmax;
}
p {
  /* absolute units */
  font-size: 20px;
  color: darkslategrey;
}
table {
  padding-top: 10px;
  text-align: center;
  position: relative;
}
button:hover {
  color: #4ab;
}
button:active {
  color: olive;
}
canvas {
  background-color: hsla(204, 60%, 73%, 1);
}
fieldset {
  border: 2px solid green;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* class styling */
.citation {
  text-align: center;

  flex-wrap: wrap;
  background-color: hsl(205, 77%, 71%);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}
.media {
  border-color: hsl(85, 59%, 48%);
  position: relative;
  text-align: center;
}
/* flexbox */
.container {
  display: flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
}
.item {
  flex-grow: 1;
  flex-basis: auto;
  align-self: center;
}
.catForm {
  text-align: center;
  flex-wrap: wrap;
}
/* grid */
.grid {
  display: grid;
  grid-template-rows: 40px 50px 50px 50px 50px 40px;
  grid-template-columns: 25% 30% 30% 25%;
}
.grid_child_one {
  grid-row-start: 1;
  grid-column-start: 1;
}
.grid_child_two {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}
.grid_child_three {
  grid-row-start: two;
  grid-column-start: 4;
}
.grid_child_four {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
}
.grid_child_five {
  grid-row-start: three;
  grid-column-start: 1;
}
/* id styling */
#navigation {
  border-style: dashed;
  border-radius: 10%;
  margin: 1%;
  width: 80%;
}
#poem {
  /* absolute units */
  border-width: 1in;
  display: contents;
}
#code {
  /* absolute units */
  border-radius: 1cm;
  display: flow-root;
}

#infoForm {
  margin-bottom: 2%;
}
#contrast {
  margin-left: 2vh;
  display: inline;
}
#myCanvas {
  margin-right: 10px;
  position: sticky;
  display: -ms-grid;
  align-items: center;
}

/* pseudo-class */
a:link {
  color: rosybrown;
}
a:visited {
  color: slateblue;
}
a:active {
  color: lightsalmon;
}
div:hover {
  background-color: #e3afbc;
}
/* universal selector styling */
* {
  font-family: "Nunito", sans-serif;
}
/* grouping/ combinators styling */

/* selector list */
h1,
h2,
h3,
p {
  padding: 1em;
}
/* Descendant Combinator */
div h1 {
  text-decoration: wavy overline;
}
/* Child Combinator */
div > p {
  background-color: #c5cbe3;
}
/* Adjacent sibling combinator */
div + p {
  background-color: #edc7b7;
}
/* General sibling combinator  */
div ~ p {
  background-color: rgba(86, 128, 233, 1);
}
/* Combining Two Selectors */
div.citation {
  border-style: groove;
}
/* attribute selector */
a[href="./domestic"] {
  color: steelblue;
}
/* media query */
@media screen and (min-width: 600px) {
  body {
    background-color: rgb(242, 243, 244);
  }
}
@media screen and (max-width: 600px) {
  #navigation {
    float: none;
    width: 50%;
  }
}
