h1 h2 h3 p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.citation {
  text-align: center;
  float: center;
  flex-wrap: wrap;
  background-color: #7ec0ee;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* .navigation {

} */
